/* 
versie: 1.10
auteur: André Rijkeboer
datum: 05-05-2018
omschrijving: basisgegevens voor de zonnepanelen
*/
a{
	font-family: verdana, sans-serif;
	padding:0px;
	text-decoration:none;
	color:#000000;
	font-weight: normal;
}
a:hover {
	color:#ff0000;
}

p {
	padding:0px;
	margin:0px;
}

hr {
	height: 1px;
	border: none 0px; /* Firefox and Opera */
	border-bottom: solid 1px #0099ff;
	border-top: none 1px #ffffff;
}
img
{
  border: none 0px;
}

html, body {
	margin:0px;
	left:0%;
	padding:0;
	background-color: #ccd7dd;
	z-index:0;
	position:relative;
	font-family: verdana, sans-serif;
	font-size: 10px;
}

div.mainpage {
	position: relative;
	left:0%;
	width:100%;
	height: 100%;
	text-align: center;
}

div.container {
	width:1850;
    height: 879px;
	left:0%;
	position:relative;
	margin:0 auto;
	text-align: left;
}

div.text_div {
	float: left;
	width: 100%;
	text-align: center;
}



.imageOver {
	width: 1850px;
	position:absolute;
	margin:0 auto;
	text-align: center;
}


div.box_Zonnepanelen {
	
    left: 25px; 
    top: 40px;
    width: 202px;
    height: 599px;
    position: absolute;
	-webkit-transform:rotate(0deg); 
	transform:rotate(0deg); 

}

div.box_Zonnepaneel_1 {
    left: 75%;
    top: 0%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	z-index: -90;
	
}

div.box_Zonnepaneel_2 {
    left: 50%;
    top: 0%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	z-index: -90;
	
}

div.box_Zonnepaneel_3 {
    left: 50%;
    top: 12.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_4 {
    left: 75%;
    top: 12.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_5 {
    left: 75%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_6 {
    left:50%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_7 {
    left:50%;
    top: 37.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_8 {
    left: 75%;
    top: 37.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_9 {
    left: 75%;
    top: 50%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_10 {
    left:50%;
    top: 50%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_11 {
    left:50%;
    top: 62.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_12 {
    left: 75%;
    top: 62.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_13 {
    left: 50%;
    top: 75%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_14 {
    left: 75%;
    top: 75%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_15 {
    left: 75%;
    top: 87.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_16 {
    left: 50%;
    top: 87.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_17 {
    left:25%;
    top: 62.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_18 {
    left: 0%;
    top: 62.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_19 {
    left: 0%;
    top: 50%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_20 {
    left:25%;
    top: 50%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_21 {
    left:25%;
    top: 37.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_22 {
    left: 0%;
    top: 37.5%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_23 {
    left: 0%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_24 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
	
}

div.box_Zonnepaneel_25 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
 	
}

div.box_Zonnepaneel_26 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
 	
}

div.box_Zonnepaneel_27 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
 	
}

div.box_Zonnepaneel_28 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
 	
}

div.box_Zonnepaneel_29 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
 	
}

div.box_Zonnepaneel_30 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
 	
}

div.box_Zonnepaneel_31 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
 	
}

div.box_Zonnepaneel_32 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
 	
}

div.box_Zonnepaneel_33 {
    left:25%;
    top: 25%;
    width: 23.70%;
    height: 12.02%;
    position: absolute;
 	
}
div.text_Zonnepaneel {
	top: 82%;
	left: 10%;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
}

div.ZonnepaneelColor_1 {
	top: 0%;
	left: 0px;
	background-color: black;
	z-index: -10;
	width: 100%;
	height: 100%;
	position: absolute;
}

div.ZonnepaneelColor_2 {
	top: 0%;
	left: 0px;
	background-color: #3399FF;
	z-index: -10;
	width: 100%;
	height: 100%;
	position: absolute;
}

div.ZonnepaneelColor_3 {
	top: 0%;
	left: 0px;
	background-color: #4FD5D6;
	z-index: -10;
	width: 100%;
	height: 100%;
	position: absolute;
}

.arrow_right_red {
	position: relative;
	background: #d50000;
}
.arrow_right_red:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_right_red:after {
	border-color: rgba(213, 0, 0, 0);
	border-left-color: #d50000;
	border-width: 10px;
	margin-top: -10px;
}



.arrow_right_green {
	position: relative;
	background: #15d515;
}
.arrow_right_green:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_right_green:after {
	border-color: rgba(213, 0, 0, 0);
	border-left-color: #15d515;
	border-width: 10px;
	margin-top: -10px;
}






.arrow_left_red {
	position: relative;
	background: #d50000;
}
.arrow_left_red:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_left_red:after {
	border-color: rgba(213, 0, 0, 0);
	border-right-color: #d50000;
	border-width: 10px;
	margin-top: -10px;
}


.arrow_left_green {
	position: relative;
	background: #15d515;
}
.arrow_left_green:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_left_green:after {
	border-color: rgba(213, 0, 0, 0);
	border-right-color: #15d515;
	border-width: 10px;
	margin-top: -10px;
}



.arrow_up_green {
	position: relative;
	background: #15d515;
}
.arrow_up_green:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_up_green:after {
	border-color: rgba(21, 213, 21, 0);
	border-bottom-color: #15d515;
	border-width: 10px;
	margin-left: -10px;
}

.arrow_up_red {
	position: relative;
	background: #d50000;
}
.arrow_up_red:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_up_red:after {
	border-color: rgba(21, 213, 21, 0);
	border-bottom-color: #d50000;
	border-width: 10px;
	margin-left: -10px;
}




.arrow_down_green {
	position: relative;
	background: #15d515;
}
.arrow_down_green:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_down_green:after {
	border-color: rgba(21, 213, 21, 0);
	border-top-color: #15d515;
	border-width: 10px;
	margin-left: -10px;
}


.arrow_down_red {
	position: relative;
	background: #d50000;
}
.arrow_down_red:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_down_red:after {
	border-color: rgba(21, 213, 21, 0);
	border-top-color: #d50000;
	border-width: 10px;
	margin-left: -10px;
}

.CSSTableGenerator {
	float: left;
	margin:0px;padding:0px;
	width:221px;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffaaaa;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:1px;
	font-size:9px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);

	background-color:#ff5656;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:9px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);

	background-color:#ff5656;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.chart {
    min-width: 320px;
    max-width: 750px;
    height: 150px;
    margin: 0px;
}

